@import url("./__close-button/popup__close-button.css");
@import url("./__container/popup__container.css");
@import url("./__input/popup__input.css");
@import url("./__save-button/popup__save-button.css");
@import url("./__title/popup__title.css");
@import url("./__fieldset/popup__fieldset.css");
@import url("./__form-container/popup__form-container.css");

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.5);
}
