.popup__input {
  height: 40px;
  width: 100%;
  margin-bottom: 17px;
  color: #000;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:focus {
  outline: none;
}

@media screen and (max-width:520px) {
  .popup__input {
    height: 36px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
  }
}
