.popup__container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 471px;
  padding: 36px 36px 0 0;
  transition: padding 1s linear;
}


@media screen and (max-width:520px) {
  .popup__container {
    padding: 24px 24px;
  }
}
