@import url("./__add-button/profile__add-button.css");
@import url("./__avatar/profile__avatar.css");
@import url("./__edit-button/profile__edit-button.css");
@import url("./__info/profile__info.css");
@import url("./__name/profile__name.css");
@import url("./__position/profile__position.css");
@import url("./__name-container/profile__name-container.css");
@import url("./__info-container/profile__info-container.css");

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
  }
}
