.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url("../../../images/add-button.svg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button:focus {
  outline: none;
}
