.profile__position {
  margin: 0;
  margin-top: 16px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 320px) {
  .profile__position {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
