@import url("./__element/element.css");
@import url("./__image/elements__image.css");
@import url("./__info-container/elements__info-container.css");
@import url("./__like-container/elements__like-container.css");
@import url("./__like-input/elements__like-input.css");
@import url("./__like/elements__like.css");
@import url("./__name/elements__name.css");

.elements {
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
}
