.elements {
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 18px;
}

@media screen and (max-width: 600px) {
  .elements {
    padding-top: 36px;
    grid-template-columns: 1fr;
  }
}
