.profile__name {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
  margin-right: 17px;
}

@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 27px;
    margin-right: 0;
  }
}
