.elements__like {
  width: 21px;
  height: 19px;
  display: block;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/*
.elements__like-input:checked + .elements__like {
  background-image: url("../../../images/like-checked.svg");
}
*/
.elements__like:hover {
  background-image: url("../../../images/like-hovered.svg");
}
