.popup__save-button {
  margin-top: 48px;
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

.popup__save-button:focus {
  outline: none;
}

.popup__save-button:hover {
  background-color: rgb(0, 0, 0, .8);
}
