.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  transition: margin 1s linear;
}

@media screen and (max-width: 700px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
