@import url("../vendor/fonts/inter.css");
@import url("../blocks/container/container.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/elements/elements.css");
