@import url("./__image-container/element__image-container.css");
@import url("./__image/element__image.css");
@import url("./__info-container/element__info-container.css");
@import url("./__like/element__like.css");
@import url("./__name/element__name.css");

.element {
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
