.popup__form-container {
  display: none;
  background-color: #fff;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 34px 36px 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
